<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>¡Registrese!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Martina Azulay</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">Volver al inicio</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <h1>Ingrese sus datos.</h1>
        <form action="/registrarse/nuevo" method="post">
            <div class="mb-3">
                <label for="inputNombre">Nombre</label>
                <input type="text" name="inputNombre" id="inputNombre">
            </div>
            <div class="mb-3">
                <label for="inputApellido">Apellido</label>
                <input type="text" name="inputApellido" id="inputApellido">
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" name="inputEmail" id="inputEmail">
                <div id="emailHelp" class="form-text">No le enviaremos ningun tipo de spam.
                </div>
            </div>
            <div class="mb-3">
                <label for="inputDireccion">Dirección</label>
                <input type="text" name="inputDireccion" id="inputDireccion">
            </div>
            <div class="mb-3">
                <label for="inputTelefono">Telefono</label>
                <input type="number" name="inputTelefono" id="inputTelefono">
            </div>
            <input type="submit" value="Grabar">
        </form>
    </main>
</body>

</html>